.Task {
    border: 1px solid #00e;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.clean-btn {
    align-self: center;
    width: 50px;
    height: 50px;
}